<h2><%= @workshop %>: <%= @module %> Module</h2>
<h2>"<%= @question %>"</h2>
<% if @visualization %>
<div class="visuals">

  <div class="pre">
    <h4>Pre-Dialogue Responses</h4>
    <% if pre_data?(@data[@workshop][@module]) %>
      <p>Mean = <%= mean(@pre_scores)%></p>
      <p>Standard Deviation = <%= @stdev_pre%></p>
      <% if @visualization == "stemplot" %>
        <%= stemplot(@pre_scores) %>
      <%else %>
        <img src="<%= get_file_path("pre", @visualization)%>" width=450>
      <%end %>
    <% else %>
      <h4>There is not pre_dialogue data available at this time.</h4>
    <% end %>
  </div>

  <div class="post">
    <h4>Post-Dialogue Responses</h4>
    <% if post_data?(@data[@workshop][@module]) %>
        <p>Mean = <%= mean(@post_scores)%></p>
        <p>Standard Deviation = <%= @stdev_post%></p>
        <% if @visualization == "stemplot" %>
          <%= stemplot(@post_scores) %>
        <%else %>
          <img src="<%= get_file_path("post", @visualization)%>" width=450>
        <%end %>
      <% else %>
        <h4>There are no post-dialogue responses to display</h4>
      <% end %>
    </div>


  </div>
<% end %>

<div class="drop-down">
<h4>Please select the type of visualization you would like to view:</h4>

<form action="/workshops/<%= @workshop %>/<%= @module %>/<%= @question %>" method="get">
  <select name="visualization">
    <% @visualizations.each do |viz| %>
      <option><%= viz %></option>
    <% end %>
  </select>
  <button type="submit">Submit</button>
</form>
</div>

<!-- <img src="/pre_score_histogram.jpg" width=450>
  <img src="/post_score_histogram.jpg" width=450> -->
